.fullscreen {
    z-index: 1010;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 75vw;
    overflow: visible;
    margin: 0;
    transition: opacity 0.3s;
    opacity: 0;
}

.fullscreen * {
    z-index: 1012;
}

.fullscreen::before {
    content: "";
    display: block;
    width: 150vw;
    height: 150vh;
    background-color: #000000a0;
    position: absolute;
    top: calc(50% - 75vh);
    left: calc(50% - 75vw);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: -1;
}