html, body{
    margin: 0;
    padding: 0;
    background-color: #181a1b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: overlay;
    scrollbar-width: thin;
    scrollbar-color: #4e4e4e;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    background-image: linear-gradient(0deg, #5d5d5d, #4c4c4c);
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
    background-image: linear-gradient(0deg, #8e8e8e, #717171);
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-button {
    height: 5vh;
}

::-webkit-scrollbar-track {
    background-color: #cacaca1e;
    border-radius: 12px;
    width: 12px;
}

article {
    display: inline-block;
    width: 92vw;
    margin: 2vw;
    padding: 2vw;
    border-radius: 2vw;
    background-color: #6A283480;
}

/* "Airport" for floating elements to land at */
article .airport {
    clear: both;
}

.imgcontainer {
    border-radius: 30px;
    width: 400px;
    /* Fix bug with 4 extra px at bottom of img */
    font-size: 0px;
    max-width: calc(100% - 10px);
    margin: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.left {
    float: left;
}

.right {
    float: right;
}

.imgcontainer img {
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    transition: filter 0.3s;
}

.imgcontainer:hover {
    transform: scale(1.1);
}

.imgcontainer:not(:hover) img {
    filter: blur(1px);
}
