html, body{
    margin: 0;
    padding: 0;
    background-color: #484848;
}

html {
    overflow-y: overlay;
}

* {
    scrollbar-width: thin;
    scrollbar-color: red;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    background-image: linear-gradient(0deg, #5d5d5d, #4c4c4c);
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
    background-image: linear-gradient(0deg, #8e8e8e, #717171);
    background-clip: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-button {
    height: 5vh;
}

::-webkit-scrollbar-track {
    background-color: #cacaca1e;
    border-radius: 12px;
    width: 12px;
}