@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.title {
    color: white;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
    position: relative;
}

.title header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    font-size: calc(100vmax / 11);
    font-family: 'Silkscreen', cursive;
    text-rendering: geometricPrecision;
}

.title .background {
    height: 100vh;
    overflow: hidden;
    background-color: #000000a0;
    /* background-image: from js page */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-blend-mode: color-burn;
    background-attachment: fixed;
}

.title .background.main {
    margin-bottom: -100vh;
}

.title .background.fade {
    opacity: 0;
    transition: opacity 1s;
}

.title .mousefollower {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top 1s, left 1s;

    width: 5vmax;
    height: 5vmax;
    border-radius: 50%;
    -webkit-filter: blur(4vmax);
    filter: blur(4vmax);
    background-color: #ffffff44;
}

nav {
    --height: 50px;
    position: -webkit-sticky;
    position: sticky;
    background: #6A2834a0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    height: var(--height);
    top: var(--height);
    transform: translateY(-100%);
}